<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <form>
      <label for="inputField">Enter your prompt:</label>
      <input
        type="text"
        id="inputField"
        name="name"
        placeholder="Your prompt here"
      />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
