<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Enter Personal Data</h1>
    <form method="POST" action="{{ url_for('views.submit') }}">
      <label for="inputField">Enter a link to your private data:</label>
      <input
        type="text"
        id="inputField"
        name="inputField"
        placeholder="Link here"
        style="width: 60%;"
      />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
    <h1>Ask Question</h1>
    <form method="POST" action="{{ url_for('views.query') }}">
      <label for="queryField">Enter your query:</label>
      <input
              type="text"
              id="queryField"
              name="queryField"
              placeholder="Your query here"
              style="width: 60%;"
      />
      <br /><br />
      <input type="submit" value="Submit" />
    <h1>Kindred's Response: </h1>
      <p>{{ processed_data }}</p>
    <div></div>
  </body>
</html>
